.a{
    background-color: #000000;
}
p{
     font-size: larger; 
    
    color: rgba(243, 234, 234, 0.911);
}
h1{
    color: aliceblue;
}

img{
    margin-right: 35%;
    height: 274px;
    width: 262px;
    

}